# Secrets and environments
.env
venv/
.env.prod

# Python cache and compiled files
__pycache__/
*.pyc

# OS-specific files
.DS_Store

# SQLite logs
db/logs.db

# VSCode settings (if using it)
.vscode/
